:root {
  /* --dark: #B8B8AA;
  --mid: #CFC0BD;
  --light: #f0f7f4; */
  --dark: #6baa75; /* green */
  --mid: #5c5c5d;
  --light: #eadacd;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--mid);
  line-height: 1.5;
  font-size: 0.875rem; /*14px*/
  background-color: var(--light) !important;
}

.mid-color {
  background-color: var(--mid);
}

.light-color {
  background-color: var(--light);
}

/* top level */
.App {
  text-align: center;
}

.main-container {
  margin-top: 0.13rem;
  position: relative;
}

.footer {
  background-color: var(--mid);
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footer p {
  color: var(--light);
}


/* form */

.form-wrapper {
  margin: auto;
  width: 80%;
}

.form-checkbox {
  text-align: left;
}

.input-field {
  display: block;
}

.search {
  margin-top: 0rem;
}

.locate {
  margin-top: 1rem;
}

/* library details */

.libraryContainer {
  display: flex;
}

.libraryDetails {
  background-color: var(--mid);
  width: 80%;
}

.libraryDetails img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10%;
  margin: 20px;
}

.libraryDetails p {
  color: var(--light);
}

.photo {
  transition: all .3s;
}

.photo:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.nav-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 100;
  margin: 0 0;
  padding: 0 1rem;
  height: 3rem;
  background-color: var(--light);
}

ul {
  list-style-type: none;
}

.links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
  margin: 0;
}

.links li a {
  color: var(--mid);
  text-decoration: none;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
  text-align: left;
  margin: 0;
}

.links a:hover {
  background: var(--mid);
  color: var(--light);
  padding-left: 1.5rem;
}

.show-links {
  height: 10rem;
  margin: 0;
  padding: 0;
}

.nav-toggle {
  font-size: 1.5rem;
  color: var(--mid);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.nav-toggle:hover {
  /* color: var(--clr-primary-1); */
  transform: rotate(90deg);
}

.logo {
  height: 3rem;
  position: relative;
  left: -0.29rem;
}


/* full screen */
@media screen and (min-width: 501px) {
  html {
    height: 100%;
  }

  body {
    height: 100%;
  }
}



/* compact screen */
@media screen and (max-width: 500px) {

  .libraryContainer {
    flex-direction: column;
  }

  .libraryDetails {
    width: 100%;
  }

  .libraryDetails img {
    width: 90%;
  }

  #navbar-title {
    font-size: 12pt;
  }
}