:root {
  /* --dark: #B8B8AA;
  --mid: #CFC0BD;
  --light: #f0f7f4; */
  --dark: #382633;
  /* green */
  --mid: #5c5c5d;
  --light: #eadacd;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  --red: #F2545B;
  --input-focus: #6BA368;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--mid);
  line-height: 1.5;
  font-size: 0.875rem;
  /*14px*/
  background-color: var(--light) !important;
  text-decoration: none;
}

.mid-color {
  background-color: var(--mid);
}

.light-color {
  background-color: var(--light);
}

/* top level */
.App {
  text-align: center;
}

.main-container {
  margin-top: 0.13rem;
  position: relative;
}

.footer {
  background-color: var(--mid);
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footer p {
  color: var(--light);
}


/* form */

.form-wrapper {
  margin: auto;
  width: 80%;
}

.form-checkbox {
  text-align: left;
}

.input-field {
  display: block;
}

.search {
  margin-top: 0rem;
}

.locate {
  margin-top: 1rem;
}

/* library details */

.libraryContainer {
  display: flex;
}

.libraryDetails {
  background-color: var(--mid);
  width: 80%;
}

.libraryDetails img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10%;
  margin: 20px;
}

.libraryDetails p {
  color: var(--light);
}

.photo {
  transition: all .3s;
}

.photo:hover {
  transform: translateY(-3px);
  box-shadow: var(--dark-shadow)
}

.nav-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 100;
  margin: 0 0;
  padding: 0 1rem;
  height: 3rem;
  background-color: var(--light);
}

ul {
  list-style-type: none;
}

.links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
  margin: 0;
}

.links li a {
  color: var(--mid);
  text-decoration: none;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
  text-align: left;
  margin: 0;
}

.links a:hover {
  background: var(--mid);
  color: var(--light);
  padding-left: 1.5rem;
}

.show-links {
  height: 10rem;
  margin: 0;
  padding: 0;
}

.nav-toggle {
  font-size: 1.5rem;
  color: var(--mid);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.nav-toggle-horizontal {
  transform: rotate(0);
}

.nav-toggle-vertical {
  transform: rotate(90deg);
}

/* .nav-toggle:hover {
  transform: rotate(90deg);
} */

.logo {
  height: 3rem;
  position: relative;
  left: -0.29rem;
}

.login-form, .signUp-form {
  margin: 4% auto;
  width: 80%;
  max-width: 35rem;
}

.login-form>h2, .signUp-form>h2 {
  color: var(--mid);
  padding-bottom: 1rem;
}

.signUp-form__label {
  color: var(--mid);
  text-align: left;
}

.error {
  display: block;
  height: 2rem;
  color: var(--red);
  font-size: 1rem;
  margin-bottom: 0.2rem;
  text-align: left;
}

.input-container input {
  outline: none;
  display: block;
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  color: #ccc;
  box-sizing: border-box;
  font-size: 1rem;
  transition: 0.2s linear;
  border-radius: 4px;
}

.input-container input:focus {
  color: #333;
  border: 1px solid #44c4e7;
  border-color: var(--input-focus);
}

.button-container input{
  cursor: pointer;
  background: var(--mid);
  width: 100%;
  padding: 10px 15px;
  border: 0;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1rem;
  transition: all .1s ease-in-out ;
  border-radius: 4px;
}

.button-container input:hover {
  transform: translateY(-3px);
  box-shadow: var(--dark-shadow);
}

.button-container input:active {
  transform: translateY(-1px);
  box-shadow: var(--light-shadow);
}

/* this is an exact copy of button-container input, TODO refactor*/
.button-basic {
  cursor: pointer;
  background: var(--mid);
  width: 100%;
  padding: 10px 15px;
  border: 0;
  color: var(--light);
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1rem;
  transition: all .1s ease-in-out ;
  border-radius: 4px;
}

.bottom-margin {
  margin-bottom: 2rem;
}

.button-narrow {
  width: 30%;
}

.button-basic:hover {
  transform: translateY(-3px);
  box-shadow: var(--dark-shadow);
}

.button-basic:active {
  transform: translateY(-1px);
  box-shadow: var(--light-shadow);
}

.file-input-container {
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
}

.file-input {
  text-align-last: center;
  margin: auto;
}

.search-box-container {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 95%;
  margin-left: 1rem;
}

.search-close-icon {
  position: relative;
  left: -1.4rem;
  top: 1.2rem;
}

.libraryListForUser {
  width: 100%;
}

table {
  border-collapse: collapse;
  margin: 0;
}

/* Library List Item Cell */

.library-list-item {
  display: flex;
  justify-content: flex-start;
  background-color: var(--dark);
  height: 6rem;
  margin: 0.5rem;
}

.library-list-item p, h3 {
  text-align: left;
  color: var(--light);
  line-height: 1rem;
}

.library-list-item h3 {
  font-size: .9rem;
}

.library-list-item p {
  filter: brightness(85%);
}

.library-list-item__image {
  display: flex;
  flex-direction: row;
  width: 8rem;
  align-items: flex-start;
}

.library-list-item__image img {
  object-fit: cover;
  height: 100%;
}

.library-list-item__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.3rem;
}

.library-list-item__details--bottom {
  justify-content: flex-end;
}

a:link,
a:hover,
a:visited,
a:active {
text-decoration: inherit;
color: inherit;
}

.mostFrequentlyVisitedLibrary {
  margin: 0 auto;
}



/* full screen */
@media screen and (min-width: 501px) {
  html {
    height: 100%;
  }

  body {
    height: 100%;
  }
}



/* compact screen */
@media screen and (max-width: 500px) {

  .libraryContainer {
    flex-direction: column;
  }

  .libraryDetails {
    width: 100%;
  }

  .libraryDetails img {
    width: 90%;
  }

  #navbar-title {
    font-size: 12pt;
  }
}
