:root {
  --dark: #382633;
  --mid3: #23b5d3;
  --mid2: #d36135;
  --mid: #5c5c5d;
  --light: #eadacd;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --nav-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  --red: #F2545B;
  --input-focus: #6BA368;
}

/* top level */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--mid);
  line-height: 1.5;
  font-size: 0.875rem;
  /*14px*/
  background-color: var(--light) !important;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

a:link,
a:hover,
a:visited,
a:active {
text-decoration: inherit;
color: inherit;
}

.App {
  text-align: center;
}

.main-container {
  position: relative;
}

/* footer */
.footer {
  background-color: var(--mid);
  width: 100%;
}

.footer-distributed{
	background-color: var(--mid);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left{
	width: 40%;
}

.footer-distributed h3{
	color:  var(--light);
	font: normal 36px var(--ff-primary), cursive;
	margin: 0;
}

/* The company logo */
.footer-distributed .footer-left img{
	width: 200px;
}

.footer-distributed h3 span{
	color:  var(--dark);
}

/* Footer links */
.footer-distributed .footer-links{
	color: var(--light);
	margin: 0 0 12px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  var(--light);
  filter: brightness(85%);
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */
.footer-distributed .footer-center{
	width: 30%;
}

/* Footer Right */
.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  var(--light);
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about p{
  color:  var(--light);
  filter: brightness(85%);
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  var(--light);
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: var(--light);
  filter: brightness(65%);
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}

/* form */
.form-wrapper {
  margin: auto;
  width: 80%;
}

.form-checkbox {
  text-align: left;
}

.input-field {
  display: block;
}

.search {
  margin-top: 0rem;
}

.locate {
  margin-top: 1rem;
}

/* library page */
.library-page {
  display: flex;
}

.library-detail {
  background-color: var(--light);
  width: 90%;
}

.library-detail-address {
  color: var(--mid);
  padding: 1rem;
  font-size: 1.5rem;
}

.library-detail-image {
  width: 90%;
  height: 360px;
  object-fit: cover;
  border-radius: 2%;
  margin: 0 1rem;
  transition: all .3s;
}

.library-detail-image:hover {
  transform: translateY(-3px);
  box-shadow: var(--dark-shadow)
}

.library-detail-visit {
  color: var(--mid);
  text-align: left;
  font-size: 1rem;
  margin: 1rem 0 1rem 1.9rem;
}

/* nav */
.nav-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 100;
  margin: 0 0;
  padding: 0 1rem;
  height: 3.0158rem;
  /* height: 3rem; */
  background-color: var(--light);
  box-shadow: var(--nav-shadow);
  border-bottom: solid var(--mid) .1px;
}

.links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
  margin: 0;
}

.links li a {
  color: var(--mid);
  text-decoration: none;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
  text-align: left;
  margin: 0;
}

.links a:hover {
  background: var(--mid);
  color: var(--light);
  padding-left: 1.5rem;
}

.library-detail-visit {
  color: var(--light);
  text-align: left;
  font-size: 1rem;
  margin: 1rem 0 1rem 1.9rem;
}


ul {
  list-style-type: none;
}

.links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
  margin: 0;
}

.links li a {
  color: var(--mid);
  text-decoration: none;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
  text-align: left;
  margin: 0;
}

.links a:hover {
  background: var(--mid);
  color: var(--light);
  padding-left: 1.5rem;
}

.show-links {
  height: 10rem;
  margin: 0;
  padding: 0;
}
/* .photo {
  transition: all .3s;
} */
.button-basic:hover {
  transform: translateY(-3px);
  box-shadow: var(--dark-shadow);
}

.button-basic:active {
  transform: translateY(-1px);
  box-shadow: var(--light-shadow);
}

.button-small {
  cursor: pointer;
  background: var(--mid);
  width: 8rem;
  padding: 10px 15px;
  border: 0;
  color: var(--light);
  font-size: 1rem;
  font-weight: 400;
  transition: all .1s ease-in-out ;
  border-radius: 4px;
  margin: 0 0 1rem 0;
}

.nav-toggle {
  font-size: 1.5rem;
  color: var(--mid);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.nav-toggle-horizontal {
  transform: rotate(0);
}

.nav-toggle-vertical {
  transform: rotate(90deg);
}

/* .nav-toggle:hover {
  transform: rotate(90deg);
} */

.logo {
  height: 3rem;
  position: relative;
  left: -0.29rem;
}

.login-form, .signUp-form {
  margin: 4% auto 2rem auto;
  width: 80%;
  max-width: 35rem;
  min-height: 57vh;
  max-height: 62vh;
}

.login-form > h2, .signUp-form>h2 {
  color: var(--mid);
  padding-bottom: 1rem;
}

.signUp-form__label {
  color: var(--mid);
  text-align: left;
}

.link_to_login a {
  color: var(--dark);
}

.error {
  display: block;
  height: 2rem;
  color: var(--red);
  font-size: 1rem;
  margin-bottom: 0.2rem;
  text-align: left;
}

.input-container input {
  outline: none;
  display: block;
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  color: #ccc;
  box-sizing: border-box;
  font-size: 1rem;
  transition: var(--transition);
  border-radius: 4px;
  margin-bottom: 0.6rem;
}

.link_to_login {
  margin-top: 1rem;
  padding-bottom: 2rem;
}

.input-container input:focus {
  border-color: var(--input-focus);
}

.button-container input{
  cursor: pointer;
  background: var(--mid);
  width: 100%;
  padding: 10px 15px;
  border: 0;
  color: var(--light);
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1rem;
  transition: all .1s ease-in-out ;
  border-radius: 3px;
  height: 2.5rem;
}

.button-container input:hover {
  transform: translateY(-3px);
  box-shadow: var(--dark-shadow);
}

.button-container input:active {
  transform: translateY(-1px);
  box-shadow: var(--light-shadow);
}

/* this is an exact copy of button-container input, TODO refactor*/
.button-basic {
  cursor: pointer;
  background: var(--mid);
  width: 100%;
  padding: 10px 15px;
  border: 0;
  color: var(--light);
  font-size: 1rem;
  font-weight: 400;
  margin: 1rem 0 1rem 0;
  transition: all .1s ease-in-out ;
  border-radius: 4px;
}

.bottom-margin {
  margin-bottom: 2rem;
}

.button-narrow {
  width: 35%;
}

.button-inverted {
  background: var(--dark);
}

.button-basic:hover {
  transform: translateY(-3px);
  box-shadow: var(--dark-shadow);
}

.button-basic:active {
  transform: translateY(-1px);
  box-shadow: var(--light-shadow);
}

.button-small:hover {
  transform: translateY(-3px);
  box-shadow: var(--dark-shadow);
}

.button-small:active {
  transform: translateY(-1px);
  box-shadow: var(--light-shadow);
}

.file-input-container {
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
}

.file-input {
  text-align-last: center;
  margin: auto;
}


.search-box-container {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 95%;
  margin-left: 1rem;
}

.search-close-icon {
  position: relative;
  left: -1.4rem;
  top: .85rem;
}

.libraryListForUser {
  width: 100%;
}

table {
  border-collapse: collapse;
  margin: 0;
}

/* Library List Item Cell */
.library-list-item {
  display: flex;
  justify-content: flex-start;
  background-color: var(--dark);
  height: 6rem;
  margin: 0.5rem;
}

.library-list-item p, .library-list-item h3 {
  text-align: left;
  color: var(--light);
  line-height: 1rem;
}

.library-list-item h3 {
  font-size: .9rem;
}

.library-list-item p {
  filter: brightness(85%);
}

.library-list-item__image {
  display: flex;
  flex-direction: row;
  width: 8rem;
  align-items: flex-start;
}

.library-list-item__image img {
  object-fit: cover;
  height: 100%;
}

.library-list-item__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.3rem;
}

.library-detail-visit p {
  font-size: .95rem;
  filter: brightness(50%);
  line-height: 1;
}

.library-list-item__details--bottom {
  justify-content: flex-end;
}

.bottom-spacer {
  margin-bottom: 3rem;;
}

.mostFrequentlyVisitedLibrary {
  margin: 0 auto;
}

/* FAQ */
.faq {
  margin: 2rem 10% 0 10%;
}

.faq h3, .faq ul {
  text-align: left;
  max-width: 60rem;
}

.faq h2 {
  margin-bottom: 2rem;
}

.faq h3 {
  font-size: 1.2rem;
}

.faq ul {
  font-size: 1rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  text-indent: -1rem;
}

/* full screen */

@media screen and (min-width: 501px) {
  html {
    height: 100%;
  }

  body {
    height: 100%;
  }
}

@media screen and (max-width: 800px) {
  /* footer */
  .footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

  .footer-distributed .footer-left h3 {
    text-align: center;
  }
}



/* compact screen */
@media screen and (max-width: 500px) {

  .library-page {
    flex-direction: column;
  }

  .library-detail {
    width: 100%;
  }

  .library-detail-address {
    font-size: 1.2rem;
    padding: .5rem;
  }

  .library-detail-image {
    width: 90%;
    height: 60%;
  }

  .library-detail-visit {
    margin: .5rem 0 0 1rem;
  }

  #navbar-title {
    font-size: 12pt;
  }

}
